/* Estilos para igualar los cards */
.card {
    height: 97%;
}

.card-header h6 {
    font-size: 1rem;
    font-weight: 600;
}

.progress-container {
    padding: 8px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 4px;
    margin-bottom: 8px;
}

.chart-container {
    min-height: 300px;
    width: 100%;
}

/* Quita el margen superior del contenedor */
.usuarios-tabla {
    margin-top: 0 !important;
    padding-top: 0 !important;
}

/* Ajusta el tamaño de la letra y el ancho de la tabla */
.usuarios-tabla table {
    font-size: 16px;
    /* Cambia este valor según lo que prefieras */
    width: 100%;
}

/* Opcional: ajusta el tamaño de la letra del encabezado */
.usuariostabla th {
    font-size: 16px;
    font-weight: bold;
}

/* Opcional: ajusta el tamaño de la letra de las celdas */
.usuarios-tabla td {
    font-size: 16px;
    vertical-align: middle;
}

/* En tu archivo CSS */
.server-status-container {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    /* Espacio uniforme entre elementos */
}

.server-status-text {
    margin-right: 0.3rem;
    font-weight: 500;
}

.server-status-icon {
    font-size: 1rem;
    margin-left: 0.3rem;
}

/* Estilos personalizados para mejor presentación */
.server-status-container {
    border-bottom: 1px solid #eee;
    padding-bottom: 1rem;
}

#monitorInfo {
    background-color: #f8f9fa;
    padding: 1rem;
    border-radius: 0.5rem;
}

@media (max-width: 768px) {

    .col-md-4,
    .col-md-8 {
        width: 100%;
    }
}