/* Estilos para el header */
.header {
    padding: 0 1rem; /* Añade padding general a los lados */
}

/* Ajuste fino para el título si es necesario */
.titulo-correos {
    margin-left: 0rem;
}

/* Espaciado adicional para el select si sigue pegado */
#filtroEstadoCorreo {
    margin-left: 0.5rem;
}

/* Añade espacio entre el botón y el label */
#nuevoCorreoBtn {
    margin-right: 0.5rem !important; /* Ajusta el valor según necesites */
}